@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
    
        --color-primary-100 : 19deg, 99%, 90%;
        --color-primary-200 : 19deg, 99%, 80%;
        --color-primary-300 : 19deg, 99%, 70%;
        --color-primary-400 : 19deg, 99%, 60%;
        --color-primary-500 : 19deg, 99%, 50%;
        --color-primary-600 : 19deg, 99%, 40%;
        --color-primary-700 : 19deg, 99%, 30%;
        --color-primary-800 : 19deg, 99%, 20%;
        --color-primary-900 : 19deg, 99%, 10%;
    }

}