---

---

<section class="py-28">

    <h2 class="flex items-center justify-center text-primary-50 text-5xl font-bold">
        L<img src="/img/kettlebell-letter.svg" />VE YOUR WORKOUT
    </h2>


</section>

<style>

section {
    background-image: url(/img/nola-kettle-transparent.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 70% center;
}

</style>