---
import SectionHeading from "./SectionHeading.astro";
import { Content } from "../../content/pages/home-testimonials.md"
---

<section class="flex flex-col gap-12 bg-secondary-900 p-8 text-center text-secondary-100">

    <SectionHeading title="Are you ready to take the next step?" class="mx-auto" />

    <Content />


</section>