---

---

<footer class="px-4 py-24 w-full max-w-7xl mx-auto bg-primary-50 grid grid-cols-3 items-center font-medium text-primary-900">

    <a href="/">
        <div class="flex items-center gap-4 text-xl font-bold italic uppercase tracking-widest">
            <img src="/img/logo.png" alt="Logo" class="-rotate-6">
            <span>
                <span class="text-primary-500">Vitality</span><span>Fitness</span>
            </span>
        </div>
    </a>

    <ul>
        <li><a href="#top">Back to Top</a></li>
        <li>
            Email: 
            <a href="mailto:vitalityfitness101@gmail.com">vitalityfitness101@gmail.com</a>
        </li>
        <li>
            Phone:
            <a href="tel:6047887602">6047887602</a>
        </li>
    </ul>
    
    <div class="flex gap-8">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Facility</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">About</a></li>
        </ul>
        
        <ul>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Book Consult</a></li>
            <li><a href="/">Facebook</a></li>
        </ul>
    </div>

</footer>


<style>

footer {
    background-image : url(/img/splatter.png);
    background-repeat: no-repeat;
    background-position: center;
}

</style>