---

---

<div class="px-4 w-full max-w-7xl mx-auto">

    <nav class="relative z-[99999] flex justify-between items-center px-4 h-16 mx-auto bg-primary-50">
        
        <div class="flex items-center gap-4 text-2xl font-theme uppercase tracking-widest">
            <img src="/img/logo.png" alt="Logo" class="translate-y-6 -rotate-6">
            Vitality Fitness
        </div>
        
        <ul class="flex items-center gap-4 font-medium text-md">
            <li><a href="/">Home</a></li>
            <li><a href="/facility">Facility</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/book-consult">Book Consult</a></li>
            <li><a href="https://www.facebook.com/VFpersonaltrainer" target="_blank">FB</a></li>
        </ul>
        
    </nav>
</div>


<style>
    a:hover {
        text-decoration: underline;
    }
</style>