---
import { Content as Headline } from "../content/pages/home-headline.md"
import { Content as SubHeadline } from "../content/pages/home-sub-headline.md"
---

<section class="relative bg-black">
    <div class="absolute inset-0 flex justify-center flex-col gap-8 px-8 text-primary-50 ">

        <h1 class="text-6xl font-theme max-w-[12ch] leading-[4rem]">
            <Headline />
        </h1>

        <span class="text-xl font-semibold">
            <SubHeadline />
        </span>

        <a href="/book-consult">
            Book A Consult
        </a>

        <a href="/about">
            About Vitality Fitness
        </a>

    </div>
</section>


<style>
    section {
        min-height: calc(100vh - 4rem);
        background-color: black;
        background-image : url(/img/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 150px center;
    }

    div {
        background: linear-gradient(
            90deg,
            black 30%,
            transparent 200%
        );
    }
</style> 