---

---

<div class="markdown text-xl">
    s
    <slot />
</div>

<style is:global>

.markdown :where(h1, h2, h3, h4, h5, h6, p, ul, ol) {
    margin-block : 1.5rem;
}

.markdown h1 {
    font-size : 2.25rem;
    line-height: 2.25rem;
}

.markdown h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.markdown h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.markdown h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.markdown h5 {

}

.markdown h6 {

}

.markdown p {
}

.markdown ul {

}

.markdown ol {

}


</style>