@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
    
        --color-primary-50  : 19 99% 95%;
        --color-primary-100 : 19 99% 90%;
        --color-primary-200 : 19 99% 80%;
        --color-primary-300 : 19 99% 70%;
        --color-primary-400 : 19 99% 60%;
        --color-primary-500 : 19 99% 50%;
        --color-primary-600 : 19 99% 40%;
        --color-primary-700 : 19 99% 30%;
        --color-primary-800 : 19 99% 20%;
        --color-primary-900 : 19 99% 10%;
    }

}