---
interface Props {
	activePage: string
}
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import '../css/main.css'
const { activePage } = Astro.props
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vitality Fitness</title>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body class=" bg-[#111] text-lg">

        <Header activePage={activePage} />

        <main class={`w-full max-w-7xl mx-auto`}>

            <slot />

        </main>

		<Footer />

		<script is:raw>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", user => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>
	</body>
</html>
